/*
src/assets/3415325.jpg
src/assets/6221798.jpg
src/assets/6315777312554.jpg
src/assets/SL-043022-50050-23.jpg
src/assets/desmumtz11.jpg
*/

body {
    margin: 0;
    background-image: url("src/assets/desmumtz11.jpg");
    background-size: cover;
}
